<tr>
    <td align="center">
        <span class="label"><i>Marker</i> field name:</span>
        <select size="1" name="marker">
            <option disabled #if (!$marker) selected #end>Unknown</option>
            #foreach($field in $fields.entrySet())
            <option #if ($field.key == $marker) selected #end value="$field.key">$field.value</option>
            #end
        </select>
    </td>
</tr>
<tr>
    <td align="center">
        <span class="label"><i>Time spent</i> field name:</span>
        <select size="1" name="timeSpent">
            <option disabled #if (!$timeSpent) selected #end>Unknown</option>
            #foreach($field in $fields.entrySet())
            <option #if ($field.key == $timeSpent) selected #end value="$field.key">$field.value</option>
            #end
        </select>
    </td>
</tr>
